<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</head>
<body>
     <div id='youdong' >

        <input
            type="radio"
            id="one"
            value="One"
            v-model="picked"
        >
        <label for="one">One</label>
        <br>
        <input
            type="radio"
            id="two"
            value="Two"
            v-model="picked"
        >
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span><br><br>
        <input
            type="radio"
            id="checkbox"
            v-model="checked"
            value="qqqq"
        >
        <label for="checkbox">{{ checked }}</label>
    </div> 

    <div id="qq">
    <select v-model="selected">
        <option
            v-for="option in options"
            v-bind:value="option.value"
        >
            <!-- 如果不加v-bind:value span里面就显示的是option.text -->
            {{ option.text }}
        </option>
    </select>
    <span>Selected: {{ selected }}</span>
    </div>


    <!-- 要是不给seleted初始值 默认不会选中任何东西 -->
    <!-- 不给初始值就加个 option disable -->
    <div id='zzz'>
    <select v-model="selected">
        <option
            disabled
            value=""
        >Please select one</option>
        <option >A</option>
        <option >B</option>
        <option >C</option>
        <!-- <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option> -->
    </select>
    <span>Selected: {{ selected }}</span></div>

    <br>

    <input
        v-model.number="age"
        type="number"
    >
</body>
<script>
    var app=new Vue({
        el:'#youdong',
        data:{
            picked:'',
            checked:''
        },
        methods:{
            evenNumbers: function (numbers) {
                return numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })
    new Vue({
            el: '#qq',
            data: {
                selected: 'A',
                options: [
                    { text: 'One', value: 'A' },
                    { text: 'Two', value: 'B' },
                    { text: 'Three', value: 'C' }
                ]
            }
        })
    new Vue({
        el:'#zzz',
        data:{
            selected:''
        }
    })
    </script>
</html>