<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    </style>
</head>
<body>
    <div id="app">
        {{ message }}
        <button v-on:click='reverseMess'>点我</button>
        <p>
            <input type="text" v-model='message'>
        </p>
        <p v-bind:title="messageB">悬停几秒</p>
        <p v-if="seen">NOW U SEE ME BUT IF THE 'SEEN' PORPERTY IS FALSE</p>
        <!-- 
            这不对
        // console.log(app.data.seen)
        //
        // 得这的
        // console.log(app.seen) 正确访问姿势 
        -->
        <li v-for="name in theNames">
            {{name.text}}
        </li>
        <todo-item
        v-for='i in componentList'
        v-bind:todo='i'
        v-bind:id='i.id'
        ></todo-item>
    </div>
    <script src='helloWorld.js'></script>
</body>
</html>